*, *:before, *:after {
    box-sizing: border-box;
  }
  /* Universal Box Sizing: https://css-tricks.com/box-sizing/#:~:text=With%20box%2Dsizing%3A%20border%2D,its%20way%20into%20reset%20styles. */
body {
  font-family: 'Courier New', Courier, monospace;
}

h1#highscores {
  text-align: center;
}

.score-timer-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#announcer-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#announcer {
  width: 100%;
  text-align: center;
}

#question-wrapper {
  width: 100%;
  text-align: center;
}

div #answer-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
div #startQuiz {
    border: 2px solid grey;
    background-color: rgb(62, 142, 142);
    font-weight: bold;
    font-size: 22px;
}

div #startQuiz:hover {
  background-color: rgb(106, 191, 191);
  border-style: outset;
}

#startQuiz {
    display: flex;
    justify-content: center;
}

.validation {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: rgb(118, 186, 137);
}

h3#incorrect {
  background-color: #d69ca2;
}

button {
  border: 2px solid grey;
  background-color: rgb(62, 142, 142);
  padding: 5px;
  margin: 5px;
  font-size: 18px;
}
button:hover {
  background-color: rgb(106, 191, 191);
  border-style: outset;
}

#endscreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#option-container, #highscore-display {
  text-align: center;
}